name: Auto-close wontfix issues

on:
  issues:
    types:
      - labeled
      - reopened

jobs:
  auto-close:
    runs-on: ubuntu-latest
    if: contains(github.event.issue.labels.*.name, 'wontfix')
    steps:
      - name: Close issue
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.rest.issues.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              state: 'closed'
            });